<div class="contain">
  <div class="create">
    <div class="node">
      <div>
        <input type="text" placeholder="node name" [(ngModel)]="nodeCr" />
      </div>
      <div><button (click)="addNode()">create a node</button></div>
    </div>
  </div>

  <div class="solve">
    <div class="node">
      <div>
        <input type="text" placeholder="node start" [(ngModel)]="start" />
      </div>
      <div><input type="text" placeholder="node end" [(ngModel)]="end" /></div>
      <div><button (click)="Solve()">solve</button></div>
    </div>
  </div>
</div>

<div id="draw"></div>

<div class="the-solution">
  <details>
    <summary>Overall Transfer Fuction:.....</summary>
    <p></p>
  </details>
  <details>
    <summary>Forward Paths</summary>
    <p></p>
  </details>
  <details>
    <summary>Loops</summary>
    <p></p>
  </details>
  <details>
    <summary>Non Touching loops</summary>
    <p></p>
  </details>
  <details>
    <summary>Delta</summary>
    <p></p>
  </details>
  <details>
    <summary>Deltas</summary>
    <p></p>
  </details>
</div>
