<div class="contain">
  <div class="create">
    <div class="node">
      <div><input type="text" placeholder="node name" /></div>
      <div><button class="">create a node</button></div>
    </div>
    <div class="edge">
      <div><input type="text" placeholder="form" /></div>
      <div><input type="text" placeholder="to" /></div>
      <div><input type="text" placeholder="edge value" /></div>
      <div><button class="">create an edge</button></div>
    </div>
  </div>
  <div class="edit">
    <div class="node-edit">
      <div><input type="text" placeholder="node name" /></div>
      <div><input type="text" placeholder="New Node name" /></div>
      <div><button class="">edit a node</button></div>
    </div>
    <div class="edge-edit">
      <div><input type="text" placeholder="form" /></div>
      <div><input type="text" placeholder="to" /></div>
      <div><input type="text" placeholder="New edge value" /></div>
      <div><button class="">edit an edge</button></div>
    </div>
  </div>
  <div class="solve">
    <div class="node">
      <div><input type="text" placeholder="node start" /></div>
      <div><input type="text" placeholder="node end" /></div>
      <div><button class="">solve</button></div>
    </div>
  </div>
</div>
<div id="draw"></div>
<div class="the-solution">
  <details>
    <summary>Overall Transfer Fuction:.....</summary>
    <p></p>
  </details>
  <details>
    <summary>Forward Paths</summary>
    <p></p>
  </details>
  <details>
    <summary>Loops</summary>
    <p></p>
  </details>
  <details>
    <summary>Non Touching loops</summary>
    <p></p>
  </details>
  <details>
    <summary>Delta</summary>
    <p></p>
  </details>
  <details>
    <summary>Deltas</summary>
    <p></p>
  </details>
</div>
