<div class="routh">
  <div class="inputs">
    <input type="number" #degree placeholder="Enter degree" />
    <button (click)="takeinput(degree.value)" type="submit">submit</button>
    <button (click)="solve()">solve</button>
  </div>
  <div class="values" *ngIf="entered">
    <div *ngFor="let value of values; let i = index">
      <var
        >S<sup>{{ values.length - i - 1 }}</sup></var
      ><input
        #val
        (blur)="takeInput(val.value, i)"
        type="number"
        placeholder="Enter value"
      />
    </div>
  </div>
  <table class="styled-table">
    <thead>
      <tr>
        <th>degree</th>
        <th *ngFor="let col of cols"> {{ col }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let val of table; let j = index">
        <td>s<sup>{{ table.length - j - 1 }}</sup></td>
        <td *ngFor="let v of val">{{ v }}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="solved">
    <p>this system is {{state}}</p>
    <p>the number of roots with real positive is {{changes}}</p>
  </div>

</div>

<!-- (blur)="takeInput(val.value,i)" -->
