  <header>
    <h1>Control</h1>
  </header>
  <main>
    <section id="topic1">
      <h2>Signal Flow Graph Solver</h2>
      <p>Information about Signal Flow Graph Solver goes here.</p>
      <a routerLink="/graph" class="button">Solve</a>
    </section>
    <section id="topic2">
      <h2>Routh Table Solver</h2>
      <p>Information about Routh Table Solver goes here.lkslflsfdjfsfkjdskfjkdsjfkjsklfjklsjfkjskfjdfsfdfdsdfsdfsfjhjhdjhjhh
        jshfjsjdfhjsddhfkjshfj
        shfjshdfjhsjfhsdfdfs
        sjfhjksdhfjhfjhsdjhfjshdkfhkjs
      </p>
      <a routerLink="/routh" class="button">Solve</a>
    </section>
  </main>
