<header>
  <h1>Control system Analysis</h1>
  <p class="author">
    Made by: Youssef Emad , Amr ahmed , Yahya Azam , Mohamed arous ,hussien
  </p>
</header>
<main>
  <section id="topic1">
    <h2>Signal Flow Graph Solver</h2>
    <p class="p">
      Information about Signal Flow Graph Solver goes here. signal flow graph is
      used to find the transfer function of a system. it helps us to find the
      transfer function of a system by using some rules in a systematic way by
      using loops and untouching loops.
    </p>
    <a routerLink="/graph" class="button">Solve</a>
  </section>
  <section id="topic2">
    <h2>Routh Table Solver</h2>
    <p class="p">
      Information about Routh Table Solver goes here. routh table solver is a
      method to find the roots of a polynomial equation. It is a method to find
      the roots of a polynomial equation. it let us know if the system is stable
      or not. it helps us to determine the no of the right hand side poles.
    </p>
    <a routerLink="/routh" class="button">Solve</a>
  </section>
</main>
