<div class="container">
  <div class="operations" style="z-index: 100">
    <button (click)="addNode()" style="margin-left: 30px">Add node</button>
    <input id="from-in" type="text" placeholder="from" />
    <input id="to-in" type="text" placeholder="to" />
    <input id="gain-in" type="text" placeholder="gain" />
    <button (click)="addLink()">Add gain</button>
    <button (click)="solve()" style="margin-right: 30px">Solve</button>
  </div>

  <div id="paper"></div>

  <div *ngIf="results" class="results">
    <details style="padding-top: 2%">
      <summary>Overall Transfer Fuction :</summary>
      <p>{{numerator}}/{{denominator}}={{result}}</p>
    </details>
    <details>
      <summary>Forward Paths :</summary>
       <p>
        <li style="font-size: larger; list-style: numbers;" *ngFor="let path of forwardpaths" >
          {{path}}
        </li>
      </p>
    </details>
    <details>
      <summary>Loops :</summary>
      <p>
        <li style="font-size: larger; list-style: numbers;" *ngFor="let loop of cycles">
          {{loop}}
        </li>
      </p>
    </details>
    <details>
      <summary>Non Touching loops :</summary>
      <p *ngFor="let nontouchingloop of nontouchingloops; let i=index">
        <span>{{i+2}} non touching loops:</span>
        <li style="font-size: larger; list-style: numbers;" *ngFor="let loop of nontouchingloop">
            {{loop}}
        </li>
      </p>
    </details>
    <details>
      <summary>Delta :</summary>
      <p>{{value0}}</p>
    </details>
    <details style="padding-bottom: 2%">
      <summary>Deltas :</summary>
      <p *ngFor="let delta of deltas; let i=index">
        <li style="font-size: larger">
          Δ<sub>{{i+1}}</sub> = {{delta}}
        </li>
      </p>
    </details>
  </div>
</div>
